<div>
<a href="https://wa.link/ddm3o7">
<button class="bg-gray-darker min-w-64 max-lg:text-[30px] max-lg:p-5 max-lg:hover:animate-bounce rounded-3xl p-3">Enviarnos Mensaje</button>
</a>
<a href="tel:1158187993">
<button class="bg-blue-light min-w-64 border-2 max-lg:text-[30px] max-lg:p-5 max-lg:hover:animate-bounce border-gray-darker b rounded-3xl p-3">Llamanos</button>
</a>
</div>
