---
import {Icon} from "astro-icon/components"
---
<section class="mt-[-5px] h-[100%] text-white bg-gradient-to-b from-red-darker to-black px-10 py-10">
	<h3 id="Contacto" class="text-8xl  mb-10 max- md: drop-shadow">Contacto<h3>
	<div class="grid grid-flow-col place-items-center">
		<a href="tel:1158187993">
			<Icon class="h-16 w-16 " name="mdi:phone" />
		</a>	
		<a href="https://wa.link/ddm3o7">	
			<Icon class="h-16 w-16" name="mdi:whatsapp" />
		</a>
		<a href="https://www.facebook.com/profile.php?id=61555120183999">
			<Icon class="h-16 w-16" name="mdi:facebook" />
		</a>
		<a href="https://www.instagram.com/frandestapaciones/">
			<Icon class="h-16 w-16" name="mdi:instagram" />
		</a>
	</div>
</section>
