---
import { ListHeader } from "./nav.astro";
---

<footer>
  <ul class="footer">
    <a href="" class="element">Facebook</a>
    <a href="" class="element">WhatsApp</a>
    <a href="" class="element">Telefono</a>
  </ul>
  <ul class="footer">
    <li class="element"><img src="" alt=""></li>
    <li class="element">Todos los derechos reservados &copy</li>
  </ul>
  <ul class="footer">
    {
        ListHeader.map((v)=>{
            return(
                <a href={"/"+v} class="element">{v}</a>
            )
        })
    }
  </ul>
</footer>
<style>
    .footer{
        display: grid;
        grid-row: auto;
        grid-column: auto;
    }
</style>
