---
import { ListHeader } from "./HeaderV1.astro";
import {Icon} from "astro-icon/components";
---

<footer class="bg-gray-darker p-10 text-gray-light ">
  <div class="grid grid-flow-col text-left max-md:grid-flow-row  p-5">
    <ul class="items-center col-start-1 col-end-2 p-4 grid w-min">
      <h3 class="text-2xl whitespace-nowrap">Destapaciones Fran</h3>
      <h3 class="text-sm whitespace-nowrap text-center">Servicio las 24hs</h3>
    </ul>
    <div class="flex flex-col">
      <h4 class="text-xl text-left">Contacto</h4>
      <ul>
        <li>destapacionesfran@gmail.com</li>
        <li>+54 11 5818-7993</li>
      </ul>
    </div>
    <div class="flex flex-col">
      <h4 class="text-xl text-left text-gray-300">
        Navegador
      </h4>
      <ul class="grid grid-cols-1 text-left">
        {
          ListHeader.map((v) => {
            return (
              <a href={"/" + v} class="element">
                {v}
              </a>
            );
          })
        }
      </ul>
    </div>
  </div>
  <ul class="text-left p-10 border-t-4">
    <ul class="flex flex-row place-content-center gap-5 p-3">
	<a href="tel:1158187993">
			<Icon class="h-8 w-16" name="mdi:phone" />
		</a>	
		<a href="https://wa.link/ddm3o7">	
			<Icon class="h-8 w-16" name="mdi:whatsapp" />
		</a>
		<a href="https://www.facebook.com/profile.php?id=61555120183999">
			<Icon class="h-8 w-16" name="mdi:facebook" />
		</a>
		<a href="https://www.instagram.com/frandestapaciones">
			<Icon class="h-8 w-16" name="mdi:instagram"/>
		</a>
    </ul>
    <li class="list-none grid w-full text-center place-content-center">
      Destapaciones Fran &copy Todos los derechos reservados
    </li>
  </ul>
</footer>
<style>
  li {
    list-style: none;
  }
</style>
