---
import { ListHeader } from "./HeaderV1.astro";
import {Icon} from "astro-icon/components";
---

<footer class="bg-gray-darker p-10 text-gray-light ">
  <div class="grid grid-flow-col text-left p-5">
    <div class="flex flex-col p-5">
      <h4 class="text-xl text-left max-lg:text-3xl">Contacto</h4>
      <ul class="max-lg:text-2xl gap-4 grid ">
        <a href="mailto:destapacionesfran@gmail.com"><li class="border-b-2 border-white w-fit">destapacionesfran@gmail.com</li></a>
        <a href="tel:1158187993"><li class="border-b-2  border-white w-fit" >+54 11 5818-7993</li></a>
      </ul>
    </div>
    <div class="flex flex-col p-5 max-lg:hidden">
      <h4 class="text-xl text-left text-gray-300 max-lg:text-3xl">
        Navegador
      </h4>
      <ul class="grid grid-cols-1 text-left">
        {
          ListHeader.map((v) => {
            return (
              <a href={"/" + v} class="element">
                {v}
              </a>
            );
          })
        }
      </ul>
      
    </div>
    <ul class="flex flex-col place-content-center gap-5 p-3">
      <h4 class="text-2xl max-lg:text-3xl text-center">Redes Sociales</h4>
      <div class="grid grid-flow-col place-content-center place-items-center gap-5 max-lg:gap-5">

        <a href="tel:1158187993">
          <Icon class="h-8 w-16 max-lg:h-16 max-lg:w-16" name="mdi:phone" />
        </a>	
        <a href="https://wa.link/ddm3o7">	
          <Icon class="h-8 w-16 max-lg:h-16 max-lg:w-16" name="mdi:whatsapp" />
        </a>
        <a href="https://www.facebook.com/profile.php?id=61555120183999">
          <Icon class="h-8 w-16 max-lg:h-16 max-lg:w-16" name="mdi:facebook" />
        </a>
        <a href="https://www.instagram.com/frandestapaciones">
          <Icon class="h-8 w-16 max-lg:h-16 max-lg:w-16" name="mdi:instagram"/>
        </a>
      </div>
        </ul>
  </div>
  <ul class="text-left p-10 border-t-4">
    <li class="list-none grid w-full max-lg:text-3xl text-center place-content-center">

      Destapaciones Fran &copy Todos los derechos reservados
    </li>
  </ul>
</footer>
<style>
  li {
    list-style: none;
  }
</style>
