---
import Preguntas from "../components/Preguntas/preguntas.astro"
---
<section>
    <h3 class="text-8xl max-md:text-4xl whitespace-nowrap  max-md:mb-4  mb-10 drop-shadow">Preguntas Frecuentes</h3>
    <Preguntas question="¿Cuando puedo disponer de los servicios?" answer="Destapaciones Fran cuenta con una disponibilidad de 24 horas los 7 dias de la semana"/>
</section>
