---
import Preguntas from "../components/Preguntas/preguntas.astro"
---
<section class="mb-5 grid grid-flow-row gap-5">
    <h3 class="text-8xl whitespace-nowrap max-lg:whitespace-normal  max-lg:mb-4  mb-10 drop-shadow">Preguntas Frecuentes</h3>
    <Preguntas question="¿Cuando puedo disponer de los servicios?" answer="Contamos con una disponibilidad de 24 horas los 7 dias de la semana."/>
    <Preguntas question="¿Cuanto cuesta una destapación?" answer=`Los precios de una destapacion varían dependiendo la ubicacion y el metro de destapación. Para cotizar tu destapación puedes llamarnos al 11 5818-7993 o puedes enviarnos un mensaje por Whatsapp con los links que tenemos en nuestra parte de contacto.`/>
</section>
