---
import ButtonV1 from "./buttonV1.astro"
---
<section>
    <div id="Inicio" class="h-max-content text-white bg-red-simple px-10 max-md:px-4 py-7 pb-32">
        <h1 class="text-8xl max-md:text-4xl whitespace-nowrap  max-md:mb-4  mb-10 drop-shadow">Destapaciones Fran</h1>
        <h2 class="text-5xl max-md:text-2xl mb-10 max-md:mb-4">Servicio de destapaciones, atención las 24hs.</h2>
        <h3 class="text-3xl max-md:text-lg mb-10 max-md:mb-4 max-w-[650px] text-justify">Brindando alivio y rapidez a toda Zona Oeste, Sur, Norte de Buenos Aires y CABA.</h3>
	<ButtonV1 class="z-10"/>
	<img class="absolute right-[5%] z-0 max-md:z-[-1]  drop-shadow-[0_14px_14px_rgba(155,155,155,0.25)] bottom-2" src="maquina.svg" alt="maquina svg"/>
    </div>
</section>