---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Footer from "../components/Footer.astro";
import Nav from "../components/HeaderV4.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Somos unas empresa de destapaciones que brinda alivio y rapidez toda Zona Oeste, Zona Sur, Zona Norte de Buenos Aires y CABA. Hacemos trabajos con maquina las 24 horas para destapar cocinas, cañerías cloacales, lavamanos, duchas, cámaras sépticas, desagües pluviales, canaletas, rejillas, alcantarillas y más."
    />
    <meta name="keywords" content="destapaciones, destapa, destapacion"
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/maquina.svg" />
    <meta name="author" content="Julian Mayola" />
    <meta name="generator" content={Astro.generator} />
    <meta name="google-site-verification" content="XfLcaCL9ojibudjwlku7cLk8XS9rxMFLFX7EKnXBVnA" />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <slot />
    <Footer />
  </body>
</html>
<style></style>
