---
import Layout from "../../layouts/Ciudades.astro"
import Nosotros from "../../components/nosotros.astro"
import Contacto from "../../components/Contacto.astro"
import PresentacionR from "../../components/presentacionR.astro"
import "../../styles/global.css"
---
<Layout title="Destapaciones en La Matanza | 11 5818-7993">
	<div>
		<PresentacionR ciudad="La Matanza"/>
<svg class="w-[100%] mt-[-5px]"  viewBox="0 0 1280 298" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip-1_15_163)">
<path d="M-1 178.8V149H58.2222V0H116.356V119.2H174.578V178.8H232.711H290.933H349.067H407.289V298H465.422V268.2H523.644V59.6H581.778H640V178.8H698.222V298H756.356V208.6H814.578V29.8H872.711V298H930.933V89.4H989.067V149H1047.29V268.2H1105.42V119.2H1163.64V178.8H1221.78H1280V0H1221.78H1163.64H1105.42H1047.29H989.067H930.933H872.711H814.578H756.356H698.222H640H581.778H523.644H465.422H407.289H349.067H290.933H232.711H174.578H116.356H58.2222H0V178.8Z" fill="#8C181A"/>
</g>
<defs>
<clipPath id="clip-1_15_163">
<rect width="1279" height="298" fill="white" transform="matrix(1 0 0 -1 0 298)"/>
</clipPath>
</defs>
</svg>
<svg class="w-[100%] mb-[-5px]" viewBox="0 0 1280 320" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M-1 96L16.4444 106.7C32.8 117 65.7778 139 98.6667 138.7C131.289 139 164.444 117 197.333 112C229.778 107 262.222 117 295.111 122.7C328.178 128 360.889 128 393.778 133.3C426.667 139 459.556 149 492.444 128C525.156 107 558.222 53 591.111 53.3C623.556 53 656 107 688.889 112C722.044 117 754.667 75 787.556 80C820.533 85 853.333 139 886.222 176C918.933 213 952 235 984.889 256C1017.42 277 1050.67 299 1082.67 282.7C1115.91 267 1148.44 213 1181.33 186.7C1214.4 160 1247.11 160 1264 160H1280V320H1263.56C1247.2 320 1214.22 320 1181.33 320C1148.71 320 1115.56 320 1082.67 320C1050.22 320 1017.78 320 984.889 320C951.822 320 919.111 320 886.222 320C853.333 320 820.444 320 787.556 320C754.844 320 721.778 320 688.889 320C656.444 320 624 320 591.111 320C557.956 320 525.333 320 492.444 320C459.467 320 426.667 320 393.778 320C361.067 320 328 320 295.111 320C262.578 320 229.333 320 197.333 320C164.089 320 131.556 320 98.6667 320C65.6 320 32.8889 320 16 320H0V96Z" fill="#550200"/>
</svg>

		<Nosotros/>
		<Contacto/>
	</div>
</Layout>
